.carouselItem {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.carouselItemImg {
  width: 200px;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px black;
}
